<div class="demo">
    <div class="container">
        <div class="row text-center">
            <h1 class="white">صفحة المنتجات</h1>
        </div>
<br>
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let item of ApiProducts">
                <div class="product-grid" >
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic-1" src="{{item.img}}">
                            <!-- <a class="btn btn-warning" [routerLink]="['/ApiProduct',item.id]" style="color: white;"><b>Show</b></a> -->
                        </a>
                        <span class="product-discount-label">-33%</span>
                        <ul class="product-links">
                            <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                            <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>
                            <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                    <div class="product-content">
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <h3 class="title"><a [routerLink]="['/ApiProduct',item.id]">{{item.Title}}</a></h3>
                        <div class="price"><span>$90.00</span>{{item.price | currency:"USD"}}</div>
                        <a (click)="addToCart(item)" class="add-to-cart" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i>أضف الى العربه</a>

                    </div>
                </div>
                <br>
            </div>
            </div>
