<!-- <div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <table *ngIf="cartItems.length > 0" class="table table-bordered">
                <tr>
                    <th width="20%">Product Image</th>
                    <th width="50%">Product Detail</th>
                    <th width="30%"></th>
                </tr>

                <tr *ngFor="let tempCartItem of cartItems">
                    <td>
                        <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                    </td>
                    <td>
                        <p>{{ tempCartItem.name }}</p>
                        <p>{{ tempCartItem.unitPrice | currency: 'USD' }}</p>
                    </td>
                    <td>
                        <div class="items">
                            <label>Quantity:</label>
                          <div class="row no-gutters">
                            <div class="col">
                              <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>

                            <div class="col ml-4 mr-2">
                              {{ tempCartItem.quantity }}
                            </div>

                            <div class="col">
                              <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                <i class="fas fa-minus"></i>
                              </button>
                            </div>

                            <div class="col-8"></div>
                          </div>
                        </div>

                      <button (click)="remove(tempCartItem)" class="btn btn-primary btn-sm mt-2">Remove</button>

                        <p class="mt-2">Subtotal: {{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'USD' }}</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <td style="font-weight: bold">
                        <p>Total Quantity: {{ totalQuantity }}</p>
                        <p>Shipping: FREE</p>
                        <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                    </td>
                </tr>

            </table>
        </div>
      <div *ngIf="cartItems.length == 0" class="alert-warning alert-bg container mt-5">
        Your Cart is Empty!
      </div>
    </div>
</div> -->


 <!-- Cart Start -->
 <div class="cart-page">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-8">
              <div class="cart-page-inner">
                  <div class="table-responsive">
                      <table *ngIf="cartItems.length > 0" class="table table-bordered">
                          <thead class="thead-dark">
                              <tr>
                                  <th>Product</th>
                                  <th>Price</th>
                                  <th>Quantity</th>
                                  <th>Total</th>
                                  <th>Remove</th>
                              </tr>
                          </thead>
                          <tbody class="align-middle">
                              <tr *ngFor="let tempCartItem of cartItems">
                                  <td>
                                      <div class="img">
                                          <a href="#"><img src="{{ tempCartItem.imageUrl }}" alt="Image"></a>
                                          <p>{{ tempCartItem.name }}</p>
                                      </div>
                                  </td>
                                  <td>{{ tempCartItem.unitPrice | currency: 'EGP' }}</td>
                                  <td>
                                      <!-- <div class="qty">
                                          <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                          <input type="text" value="1">
                                          <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                      </div> -->
                                      <div class="items">
                                        <!-- <label>Quantity:</label> -->
                                      <div class="row no-gutters">
                                        <div class="col">
                                          <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                            <i class="fas fa-plus"></i>
                                          </button>
                                        </div>
            
                                        <div class="col">
                                          {{ tempCartItem.quantity }}
                                        </div>
            
                                        <div class="col">
                                          <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                            <i class="fas fa-minus"></i>
                                          </button>
                                        </div>
            
                                        <div class="col-8"></div>
                                      </div>
                                    </div>

                                </td>
                                  <!-- <td>$99</td> -->
                                  <!-- <td><button><i class="fa fa-trash"></i></button></td> -->
                                  <td><p>{{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'EGP' }}</p></td>
                                  <td><button (click)="remove(tempCartItem)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                              </tr>
                              <!-- <tr>
                                  <td>
                                      <div class="img">
                                          <a href="#"><img src="img/product-2.jpg" alt="Image"></a>
                                          <p>Product Name</p>
                                      </div>
                                  </td>
                                  <td>$99</td>
                                  <td>
                                      <div class="qty">
                                          <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                          <input type="text" value="1">
                                          <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                      </div>
                                  </td>
                                  <td>$99</td>
                                  <td><button><i class="fa fa-trash"></i></button></td>
                              </tr>
                              <tr>
                                  <td>
                                      <div class="img">
                                          <a href="#"><img src="img/product-3.jpg" alt="Image"></a>
                                          <p>Product Name</p>
                                      </div>
                                  </td>
                                  <td>$99</td>
                                  <td>
                                      <div class="qty">
                                          <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                          <input type="text" value="1">
                                          <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                      </div>
                                  </td>
                                  <td>$99</td>
                                  <td><button><i class="fa fa-trash"></i></button></td>
                              </tr>
                              <tr>
                                  <td>
                                      <div class="img">
                                          <a href="#"><img src="img/product-4.jpg" alt="Image"></a>
                                          <p>Product Name</p>
                                      </div>
                                  </td>
                                  <td>$99</td>
                                  <td>
                                      <div class="qty">
                                          <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                          <input type="text" value="1">
                                          <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                      </div>
                                  </td>
                                  <td>$99</td>
                                  <td><button><i class="fa fa-trash"></i></button></td>
                              </tr>
                              <tr>
                                  <td>
                                      <div class="img">
                                          <a href="#"><img src="img/product-5.jpg" alt="Image"></a>
                                          <p>Product Name</p>
                                      </div>
                                  </td>
                                  <td>$99</td>
                                  <td>
                                      <div class="qty">
                                          <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                          <input type="text" value="1">
                                          <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                      </div>
                                  </td>
                                  <td>$99</td>
                                  <td><button><i class="fa fa-trash"></i></button></td>
                              </tr> -->
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="cart-page-inner">
                  <div class="row">
                      <!-- <div class="col-md-12">
                          <div class="coupon">
                              <input type="text" placeholder="Coupon Code">
                              <button>Apply Code</button>
                          </div>
                      </div> -->
                      <div class="col-md-12">
                          <div class="cart-summary">
                              <div class="cart-content">
                                  <h1>Cart Summary</h1>
                                  <!-- <p>Sub Total<span>{{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'EGP' }}</span></p> -->
                                  <!-- <p>Shipping Cost<span>$1</span></p> -->
                                  <h2>Grand Total<span>{{ totalPrice | currency: 'EGP' }}</span></h2>
                              </div>
                              <div class="cart-btn">
                                  <!-- <button>Update Cart</button> -->
                                  <button style="text-align: center;">Checkout</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Cart End -->