<!-------------------- start navbar section -------------------------->

<!--header section start -->
<div class="header_section">


   <!-- Navbar -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
      <div class="container">

         <!-- Brand -->
         <a class="navbar-brand">
            <strong>Shopy</strong>
         </a>

         <!-- Collapse -->
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <!-- Links -->
         <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/Home']" routerLinkActive="activeLink">Home
                     <span class="sr-only">(current)</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/category']">category</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/ApiProducts']">Products</a>
               </li>

            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
               <li class="nav-item">
                  <app-login-status></app-login-status>

               </li>
               <li class="nav-item">
                  <app-cart-status></app-cart-status>
               </li>

            </ul>


         </div>

      </div>
   </nav>
   <!-- Navbar -->



   <!--banner section start -->
   <div class="banner_section layout_padding">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="taital_main">
                           <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                           <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but
                              the majority have suffered alteration </p>
                           <div class="book_bt"><a href="#">Shop Now</a></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div><img src="./../../../../assets/images/img-1.png" class="image_1"></div>
                     </div>
                  </div>
                  <div class="button_main"><button class="all_text">All</button><input type="text" class="Enter_text"
                        placeholder="Enter keywords" name=""><button class="search_text">Search</button></div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="taital_main">
                           <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                           <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but
                              the majority have suffered alteration </p>
                           <div class="book_bt"><a href="#">Shop Now</a></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div><img src="./../../../../assets/images/img-1.png" class="image_1"></div>
                     </div>
                  </div>
                  <div class="button_main"><button class="all_text">All</button><input type="text" class="Enter_text"
                        placeholder="Enter keywords" name=""><button class="search_text">Search</button></div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="taital_main">
                           <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                           <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but
                              the majority have suffered alteration </p>
                           <div class="book_bt"><a href="#">Shop Now</a></div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div><img src="./../../../../assets/images/img-1.png" class="image_1"></div>
                     </div>
                  </div>
                  <div class="button_main"><button class="all_text">All</button><input type="text" class="Enter_text"
                        placeholder="Enter keywords" name=""><button class="search_text">Search</button></div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class=""><img src="./../../../../assets/images/left-icon.png"></i>
         </a>
         <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class=""><img src="./../../../../assets/images/right-icon.png"></i>
         </a>
      </div>
   </div>
   <!--banner section end -->
</div>
<!--header section end -->