<div class="container">
<!-- <h2 class="bg-light mb-2 text-center">Add New Product</h2> -->
<form (submit)="addNewProduct(addProductForm)" #addProductForm="ngForm" style="padding: 10px;" >
    <div class="form-row">
      <div class="col-sm-6 mb-3">
        <label for="validationServer01">Product Id</label>
        <input type="text" class="form-control" value="Enter Product Name" required name="product_id" ngModel>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="validationServer02">Product Name</label>
        <input type="text" class="form-control" required name="product_name" ngModel>
      </div>
      </div>

      <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer02">Product Discount</label>
        <input type="text" class="form-control" required name="product_disc" ngModel>
      </div>

      <div class="col-sm-6 mb-3">
        <label for="validationServer01">Product Price</label>
        <input type="text" class="form-control" value="Enter Product Name" required name="product_price" ngModel>
      </div>

    </div>


    <div class="form-row">

      <div class="col-md-12 mb-3">
        <!-- <label for="validationServer02"></label> -->
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Product Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required name="product_desc" ngModel></textarea>
        </div>
        <!-- <textarea  class="form-control" required name="product_desc" ngModel> -->
        <!-- </textarea> -->

     </div>

     </div>

    <button class="btn btn-warning" type="submit">Submit</button>
  </form>
  </div>
